
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<h1>Error</h1>

<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Danger!</strong> <h2> PLZ Enter Successful data.</h2>
</div>
<div class="w-100 text-center mt-4">
    <a href="/home/Create" class="btn btn-outline-danger"> OK </a>
</div>