
@{
    ViewBag.Title = "repetition";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Danger!</strong> <h1> PLZ checked Data :</h1>
    <br />
    <h3>
        <ul>
            <li><h3>Enter Successful Data</h3></li>
            <li><h3>Don't Repeat Date With Same Absence State</h3></li>
            <li><h3>Don't Enter Time Before The Attend Time of Employee</h3></li>
            <li><h3>Checked Leaving Time</h3></li>
        </ul>
    </h3>
</div>

<div class="w-100 text-center mt-4">
    <a href="/home/Absence" class="btn btn-outline-danger"> OK </a>
</div>

