
@{
    ViewBag.Title = "SetError";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Danger!</strong> This Employee Already Have Data.
</div>
<div class="w-100 text-center mt-4">
    <a href="/home/Settings" class="btn btn-outline-danger"> OK </a>
</div>

